<div id="slide-out" class="side-nav">
<h1><a href="{{site.url}}" alt-text="go home">Gila</a></h1>
<ul>
  <li><a href="{{site.url}}/stories">Stories</a></li>
  <li><a href="{{site.url}}/events">Events</a></li>
  <li><a href="{{site.url}}/elegia">Elegia</a></li>
  <li><a href="{{site.url}}/legend">Legend</a></li>
  <li><a href="{{site.url}}/zine">Zine</a></li>
  <li><a href="{{site.url}}/store">Store</a></li>
  <li><a href="{{site.url}}/future">Future</a></li>
  <li><a href="{{site.url}}/about">About</a></li>
</ul>
</div>
<a href="#" data-activates="slide-out" class="no_styles button-collapse"><img id="navigation_image" src="{{site.url}}/images/gila-temp.png" alt-text="site navigation"/></a>