#too_hot_for_coffee {
  height: 100vh;
  width: 100%;
  background-color: salmon;
  display: flex;
  // flex-direction: row-reverse;
  align-items: flex-end; // content is in bottom corner
  align-content: center; // items gather in center;
  justify-content: flex-end; // content is on the left
  .event_container {
    width: 50vw;
    height: 100%;
    // float: right;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: center;
    justify-content: flex-end;
    margin: auto;
    margin-right: 15vh;
  }
  .event_image {
    width: 30%;
    margin-top: 10vh;
    img {
      width: 100%;
      max-height: 200px;
      object-fit: contain;
    }
  }
  .event_title {
    width: 70%;
    display: flex;
    align-items: flex-end;
  }
  .event_details {
    > span {
      width: 100%;
      border-top: 1rem solid $black;
      line-height: 1.1;
      font-size: 1.6rem;
      display: block;
      &:last-of-type {
        border-top: none;
        font-size: 1.3rem;
      }
    }
  }
  .event_presented {
    color: #2BFDC2;
    width: 100%;
    padding-right: 1rem;
    display: flex;
    flex-direction: row-reverse;
  }
}

@media (max-width: 700px){
  #too_hot_for_coffee {
    .event_container {
      width: 90vw;
      // height: 100%;
      // float: right;
      // flex-wrap: wrap;
      align-items: flex-end;
      align-content: flex-end;
      justify-content: flex-end;
    }
    .event_image {
      width: 20%;
    }
    .event_title {
      width: 80%;
    }
  }
}
