.flex_parent {
	display: table-cell;
	display: flex;
	width: 100vw;
	flex-wrap: wrap;
}

.col_10 {
	width: 10vw;
}

.col_20 {
	width: 20vw;
}

.col_30 {
	width: 30vw;
}

.col_40 {
	width: 40vw;
}

.col_50 {
	width: 50vw;
}

.col_60 {
	width: 60vw;
	display: block;
}

.col_70 {
	width: 70vw;
}

.col_80 {
	width: 80vw;
}

.col_90 {
	width: 90vw;
}

.col_100 {
	width: 100vw;
}


// take care for smaller sizes....

@media (max-width: 750px){
	.col_10,
	.col_20,
	.col_30,
	.col_40,
	.col_50,
	.col_60,
	.col_70,
	.col_80,
	.col_90,
	.col_100 {
		width: 100vw;
	}

}
