// materialize overrides and additions //

// First, overrides

.side-nav a {
    color: $black;
    display: block;
    font-size: .9rem;
    font-weight: 400;
    height: 1.75rem;
    line-height: 1;
    padding: .5rem;
    vertical-align: middle;
}


#navigation_image {
	width: 2.75rem;
  font-size: 2.75rem; //set so we can manipulate pulse
	height: auto;
	position: fixed;
	z-index: 30; // here so that nav opens on zine
	margin: .5rem 0 0 1rem;
  // @extend .animate_pulse;
}

.side-nav {
  min-width: 15vw !important;
  max-width: 50vw !important;
	padding-top: .5rem;
	ul {
		margin-top: .25rem;
		a {
		background-color: $white;
		padding-left: .5rem;
			&:hover {
				background-color: $black;
				color: $white;
			}
			&.disabled_link:hover,
			&.disabled_link {
				color: $lighter_gray;
				background-color: $white;
			}
		}
	}
	h1 {
		margin: 0;
		height: 3rem;
		background-color: $white;
		color: $black;
		&:hover {
			background-color: $black;
			color: $white;
		}
		a {
			background-color: transparent;
			font-size: 2rem;
			color: $black;
			&:hover {
				background-color: transparent;
				color: $white;
			}

		}
	}
}

@media (max-width: 550px){
	#navigation_image {
		margin-left: .5rem;
	}
}
