// the landing pages of Gila 
// stories, events, and elegia are the same style 
// future/about are static, and same
// zine is it's own thing but a bit like stories/events/elegia
// legend is photo based 

// stories, events, elegia 'landing'/'parent' pages
.dynamic_parent_container {
	width: 100%;
	.upcoming_event {
		width: 65vw;
		height: 80vh;
		display: block;
		margin: .5rem auto 0;
		@extend .topBorder;
		h1 {
			font-weight: 500;
			width: 100%;
			display: block;
			font-size: 1.6rem;
			.upcoming_event_name {
				font-weight: 400;
			}
		}
	}
	.down_arrow {
		height: 10vh;
		width: 4rem;
		margin: 0 auto 3rem;

		a {
			background-color: transparent;
			display: flex;
			align-items: flex-end;
			justify-content: center;
		}
		img {
			margin: 0 auto;
			width: 2rem;
			height: auto;
			// -webkit-filter: drop-shadow(3px 3px 4px rgba(0,0,0,0.9));
  			// filter: drop-shadow(3px 3px 4px rgba(0,0,0,0.9));
  			animation: pulse 3s infinite;
		}
	}
	h2 {
		margin-left: 10vw;
		padding-left: 1rem;
		margin-bottom: 0;
	}

	.landing_header {
		width: 100vw;
		min-height: 10rem;
		height: 10rem;
		max-height: 15rem;
		background-color: $black;
		color: $white;
		display: flex;
		align-items: left;
		justify-content: flex-start;
		flex-wrap: wrap;
		padding: 1rem;
		border-bottom: .05rem solid $white;

		h1, 
		p {
			// text-align: left;
			margin: 0 2.25rem;
			width: 100%;
		}
		p {
			margin-top: -2rem; //combatting flexbox
		}
	}
	// per post
	.divider {
		height: .15rem;
		width: 100vw;
		background-color: $black;
	}
	article {
		width: 100%;
		height: 40vh;
		// display: block;
		// border-top: .10rem solid $white;
		// background-color: $lighter_gray;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		.post_title, .post_subtitle {
			padding: .5rem;
			margin-left: 2.25rem;
			-webkit-text-stroke: 1px $black;
		   color: $white;
		   text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 1);
		    mix-blend-mode: luminosity;
		}
		.post_link {
			margin-top: 0;
			margin-left: 2.75rem;
			width: 2.25rem;
			@extend .basic_link;
			@include backgroundTransparency($white, 0.6);
			&:hover {
				@include backgroundTransparency($white, 0.8);
			}
		}
		.post_subtitle {
			font-size: 1.2rem;
			margin-top: 0;
			margin-bottom: .8rem;
		}
	}
}

.parallax_link {
	padding: 0;
	margin: 0;
	background-color: transparent;
}
// control the parallax features, if that's not obvious.
// the parallax container needs to be in pixels. 
.parallax {
	img {
		filter: grayscale(100%);
		opacity: .75;
	}
}
.parallax-container {
	height: 350px;
	border-bottom: .05rem solid $black;
}