// fonts
.heading_font {
  font-family: 'Inconsolata', monospace;
}
.body_font{
  font-family: 'Work Sans', sans-serif;
}

.gila_bold_italics { 
    font-weight: 600;
    font-style: italic;
  }
.gila_bold {
  font-weight: 600;

}

h1{
  font-size: 2rem;
  line-height: 2.2rem;
  @extend .heading_font;
}
h2{
  font-size: 1.8rem;
  font-weight: 400;
  @extend .heading_font;
}

h3{
  font-size: 1.6rem;
  @extend .heading_font;
}
h4{
  font-size: 1.4rem;
}
h5{
  font-size: 1.2rem;
}

p {
  font-size: .8rem;
  @extend .body_font;
}

// base link styles. nav will be done seperately. 
a, 
.basic_link {
  font-size: .8rem;
  color: $black;
  text-decoration: none;
  @include backgroundTransparency($lighter_gray, 0.3);
  line-height: 1.2rem;
  padding: 0.15rem;
  &:hover {
    // darken text
    text-decoration: none;
    color: $black;
    @include backgroundTransparency($lighter_gray, 0.6);
  }
  &:visited {
    text-decoration: none;
    color: $black;
  }
  &.no_styles {
    background-color: transparent;
  }
}

ul {
  li {
    list-style-type: square;
    list-style-position: inside;
  }
}