// mixins 
@mixin linearGradient($top, $middle, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 40%, $middle 85%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(85%,$middle), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 40%,$middle 85%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 40%,$middle 85%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 40%,$middle 85%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 40%,$middle 85%,$bottom 100%); /* W3C */
}

@mixin backgroundTransparency($background-color, $opacity){
  background-color: rgba($background-color, $opacity);
}



// colors
$black: rgb(0, 0, 0);
$dark_gray: rgb(33, 33, 33);
$lighter_gray: rgb(133, 132, 132);
$lightest_gray: rgb(207,205, 205);
$white: rgb(255,255,255);

/*Global Settings */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*root em */
html, body {
	height: 100%;
}
html {
  font-size: calc(1em + 1vw);
}

body {
  position: relative;
  margin: 0;
  height: 100vh;
}



// animation storage 

@-webkit-keyframes pulse {
  0% {
   -webkit-filter: drop-shadow(3px 3px 3.5px rgba(0,0,0,0.8));
    filter: drop-shadow(3px 3px 3.5px rgba(0,0,0,0.8));
  }
  50% {
    -webkit-filter: drop-shadow(3px 3px 2.75px rgba(0,0,0,0.8));
    filter: drop-shadow(3px 3px 2.75px rgba(0,0,0,0.8));
  }
  100% {
   -webkit-filter: drop-shadow(2px 2px 2px  rgba(0,0,0,0.9));
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.9));
  }
}
@keyframes pulse {
  0% {
   -webkit-filter: drop-shadow(3px 3px 3.5px rgba(0,0,0,0.8));
    filter: drop-shadow(3px 3px 3.5px rgba(0,0,0,0.8));
  }
  50% {
    -webkit-filter: drop-shadow(3px 3px 2.75px rgba(0,0,0,0.8));
    filter: drop-shadow(3px 3px 2.75px rgba(0,0,0,0.8));
  }
  100% {
   -webkit-filter: drop-shadow(2px 2px 2px  rgba(0,0,0,0.9));
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.9));
  }
}