// the landing pages of Gila 
// stories, events, and elegia are the same style 
// future/about are static, and same
// zine is it's own thing but a bit like stories/events/elegia
// legend is photo based 

// stories, events, elegia 'landing'/'parent' pages
.dynamic_parent_container {
	width: 100%;
	.upcoming_event {
		width: 65vw;
		height: 80vh;
		display: block;
		margin: 0 auto;
		h1 {
			font-weight: 500;
			width: 100%;
			display: block;
			.upcoming_event_name {
				font-weight: 400;
			}
		}
		.down_arrow {
			
		}
	}
	h2 {
		margin-left: 10vw;
		padding-left: 1rem;
		margin-bottom: 0;
	}
	// per post
	article {
		width: 100%;
		height: 60vh;
		display: block;
		border-bottom: .15rem solid $white;
		border-top: .10rem solid $white;
		background-color: $lighter_gray;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		a {
			background-color: transparent !important;
		}
		.post_title, .post_subtitle {
			padding: 1rem;
			margin-left: 10vw;
		}
	}
}