.loading {
  display: block;
  background-color: #000;
  width: 100vw;
  min-height: 100%;
  height: 100vh;
  max-height: 100vh;
  background-image: url('./loading/loading.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
