.container {
  display: flex;
  width: 100%;
  padding-bottom: 1rem;
  align-items: center;
  justify-content: flext-start;
  align-content: flex-start;
}

.container h1 {
  margin: 0;
  text-align: left;
  font-size: 2.5rem;
  line-height: 1;
}
