.readOnly {
  left: 99999999999px;
  position: absolute;
}

.iconGroup {
  display: flex;
  flex-flow: row;

}
.icon {
  margin: auto 1rem;
}
.icon:first-of-type {
  margin-left : 0;
}

.email {
  content: 'email!'
}
