---
layout: default
---
<div class="flex_parent">
<div class="stand_alone_page col_60">
	<h1>What is Gila?</h1>
	<p>Gila is a collaborative effort to centralize and amplify the arts and music of Phoenix. With its diverse culture and crucial geographical importance in our country's immigration conversation, our city is a vital and necessary contribution to the national artistic voice. We want to facilitate this in radical ways. We want Phoenix to be louder.</p>
	<p>Gila is, primarily, a handful of artists and curators working together to create an online hub for Phoenix’s arts and music. We are forming a unique and desirable brand collective that will highlight the vast amount of talent living in our city. Phoenix is the quintessential horizontal sprawl. Gila will vertically align Phoenix’s talent, centralizing the scene and bringing talent together in a forum that demands presence.</p>
	<p>Gila has a few simple desires. Gentrification does not have to facilitate appropriation, nor does it equate to suffocating the prevailing narrative of our city. We want to embody a conscious acknowledgement of this fact. We want to facilitate creation in a strip mall city where consumption is the primary language. Like Siddhartha, we have found our river. Now it's time to be the ferryman.</p>


	<div class="contact_about" id="contact">
		<!-- email -->
		<a href="mailto:{{site.email}}" title="Email Us: {{site.email}}">
			<img src="{{site.url}}/images/envelope.jpg" alt-text="gilaphx@gmail.com"/>
		</a>
		<!--twitter -->
		<a href="{{site.twitter_link}}" title="On Twitter: @{{site.twitter_handle}}">
			<img src="{{site.url}}/images/twitter.png" alt-text="Follow @{{site.twitter_handle}}"/>
		</a>
		<!--instagram -->
		<a href="{{site.instagram_link}}" title="On Instagram: @{{site.instagram_handle}}">
			<img src="{{site.url}}/images/instagram.jpg" alt-text="Follow @{{site.instagram_handle}}"/>
		</a>
	</div>
</div>
</div>
