---
layout: default
---
<div class="flex_parent">
<div class="stand_alone_page col_60">
	<h1>What is Gila?</h1>
	<p>Gila is a 100% non-profit effort to support the under-represented arts of Phoenix, funded by small gifts and indulgences. There's no catch here - we just like the idea of our disposable income going towards something bigger than ourselves. Gila is our venue of incentive. We want to help the community, but we also want to blast post-punk and burn freaky black candles, same as you.</p>
	<p>Gila is, primarily, two people: Gerrit and Brittany Feenstra. Though we both grew up in southwestern states, our formative years were spent in Seattle, working, volunteering for legendary radio station KEXP, and going to shows four nights a week. Our recent move to downtown Phoenix is an intentional uprooting. These are trying times, and with its diverse arts scene and crucial geographical importance in our country's immigration conversation, Phoenix is the place where we want to do the trying.</p>
	<p>Gila has a couple simple desires. Gentrification does not have to facilitate appropriation, nor does it have to mean suffocation of the prevailing narrative of the city. In our simple way, we want to embody a conscious acknowledgement of this fact. We want to retain a space for the arts using your iced latte budget. We want to maintain a conversation. Like Siddhartha, we have found our river. Now it's time to be the ferryman.</p>

	<div class="contact_about" id="contact">
		<!-- email -->
		<a href="{{site.email}}" title="Email Us: {{site.email}}">
			<img src="{{site.url}}/images/envelope.jpg" alt-text="gilaphx@gmail.com"/>
		</a>
		<!--twitter -->
		<a href="{{site.twitter_link}}" title="On Twitter: @{{site.twitter_handle}}">
			<img src="{{site.url}}/images/twitter.png" alt-text="Follow @{{site.twitter_handle}}"/>
		</a>
		<!--instagram -->
		<a href="{{site.instagram_link}}" title="On Instagram: @{{site.instagram_handle}}">
			<img src="{{site.url}}/images/instagram.jpg" alt-text="Follow @{{site.instagram_handle}}"/>
		</a>
	</div>
</div>
</div>