---
layout: default
---
<div class="flex_parent">
<div class="stand_alone_page col_60">
	<h1>“Pick apart the past, you’re not going back.”</h1>
	<p><span class="gila_bold_italics"> Gila.</span> Seen afar in a Baltimore dream. An eastern province bordering our fair city. A tributary cutting through its heart. A dragon roaming the desert sunset. A people whose culture outlives us all.</p>
	<p><span class="gila_bold_italics"> Gila.</span> Pronounced \ģe-lə\. Like so much of our modernity, an intentional misplacement. Appropriation disguised as ignorance. A wrong as a reminder. To learn and unlearn.</p>
	<p><span class="gila_bold_italics"> Gila.</span> Giving gifts to the nomads to preserve the culture of the native tongue. Art activism funded by vagrant minimalism. Bridges built in and out of knowledge. Eternal joy.</p>

	<div class="contact_about">
		<!-- email -->
		<a href="mailto:gilaphx@gmail.com" title="Email Us: gilaphx@gmail.com">
			<img src="{{site.url}}/images/envelope.jpg" alt-text="gilaphx@gmail.com"/>
		</a>
		<!--twitter -->
		<a href="https://twitter.com/gerrit_feenstra" title="On Twitter: @gilaphx">
			<img src="{{site.url}}/images/twitter.png" alt-text="Follow @gilaphx"/>
		</a>
		<!--instagram -->
		<a href="https://twitter.com/gerrit_feenstra" title="On Instagram: @gilaphx">
			<img src="{{site.url}}/images/instagram.jpg" alt-text="Follow @gilaphx"/>
		</a>
	</div>
</div>
</div>