---
layout: default
---
<div id="fullpage_archive_events">
<div class="section" id="too_hot_for_coffee">
  <div class="flex_parent event_container">
    <div class="event_image">
      <img src="{{site.baseurl}}/images/cup.png">
    </div>
    <div class="event_title">
      <h1>Too Hot for Coffee</h1>
    </div>
    <div class="event_details">
      <span>June 16, 2018</span>
      <span>The Bronze</span>
      <span>Dingos ate my Baby</span>
      <span>w/ Sex Bob-omb & Mouse Rat</span>
    </div>
    <div class="event_presented">
      <p>Presented by Gila</p>
    </div>
    <!-- screen reader details. -->
  </div>
</div>
</div>
<script>
// setTimeout(function(){
//   $('#too_hot_for_coffee .event_image').addClass('animated jello infinite');
// }, 3000);
$('#too_hot_for_coffee span').on('hover', function(){
  $(this).css('border-color', 'white');
})

</script>
