---
layout: default
---

<div class="stand_alone_page">
  <h1>Gila's Future</h1>
  <p><span class="gila_bold">We have a lot of ideas for Gila. </span> In fact, we probably have way too many to be at all productive. Our goal is to put on Gila-sponsored events quarterly at our favorite local venues. These events will be multifaceted and multi-disciplinary - a rotating collection of artists and arts organizations here in Phoenix. How rad is that?</p>
  <p>Before this happens, we will be establishing an online presence in the city of Phoenix. We want to show you what we are listening to. We want to tell you about how much awesome stuff goes on in Phoenix every single week of the year. We are doing this because we want you to trust us. Our dream is that people will eventually show up to Gila events with zero preconceived notions of what to expect. We want to amaze, inspire, and surprise you. We want Gila to be your favorite thing.</p>
  <p>We are not music critics or forecasting snobs. This is a collaborative and ego-free zone with an end goal of making the Phoenix scene rad for everyone. But we are far from perfect and we can always do a better job getting connected. If you can help us make Gila better, please do so. If you know who we should be talking to, covering, raving about, putting on, begging for attention, telling our moms about, or sliding into DMs with, please contact us.</p>
  <p>Without the Phoenix arts scene, we would have nothing to do on nights and weekends other than sit at home and watch crappy streaming shows. We want to make sure this doesn't happen. Gila is our small contribution to this end. We'd love to extend this community further, mostly because we have no idea what we are doing.</p>

</div>
