---
layout: default
---

<div class="stand_alone_page">
  <h1>I am the future.</h1>
  <p>"John, the kind of control you're attempting is not possible. If there's one thing the history of evolution has taught us, it's that life will not be contained. Life breaks free. It expands to new territories. It crashes through barriers. Painfully, maybe even dangerously, but and...well, there it is." </p>
  <p>Ellie listens to him, impressed. Watch her head - support her head. Grant, ignoring the others, picks up the baby dinosaur, and holds it on the palm of his hand, under the incubator's heat light. He spreads the tiny animal out on the back of his hand and delicately runs his finger over its tail, counting the vertebrae. A look of puzzled recognition crosses his face. "You're implying that a group of composed entirely of females will breed?" <span class="gila_bold">I'm simply saying that life - - finds a way.</span></p>
</div>
