---
layout: default
---

<p>this page will scroll with a blurb from each individual futures. future_individual will be the individual post category "future". Same style as stories. </p>


{% for post in site.posts %}
  {% if post.categories contains "future_post" %}
  <article>
    <div>
      <a title="{{post.title}}" href="{{ site.baseurl }}{{ post.url }}"><h1 class="postTitle">{{ post.title }}</h1></a>
      <div class="postDetails">
        <h2 class="shortTitle">{{post.shorttitle}}//</h2>
        <span>{{ post.category }}</span>
        <span>{{ post.date | date: "%B %-d, %Y" }}</span>
      </div>
      <p class="postExcerpt">{{ post.excerpt }}</p>
      <p class="postMore"><a title="{{post.title}}" href="{{ site.baseurl }}{{ post.url }}" class="link">Read More</a></p>
    </div>
  </article>
    {% endif %}
  {% endfor %}