---
layout: default
---
<div class="loader">


</div>

<div id="fullpage_main">
    <div class="section" id="gila_splash" style="background-image: url('{{site.url}}/images/piestewa_bw.jpg');">

		<h1>Be <span class="invert_text">here.</span></h1>
    </div>
    <div class="section" id="gila_intro">
    	<div class="flex_parent">
  			<div class="col_60">
  				<h1>Gila<span class="gila_logo_phx">phx</span></h1>
  				<div class="about">
  					<h3>“Pick apart the past, you’re not going back.”</h3>
  					<p><span class="gila_bold"> Gila.</span> Seen afar in a Baltimore dream. An eastern province bordering our fair city. A tributary cutting through its heart. A dragon roaming the desert sunset. A people whose culture outlives us all.</p>
  					<p><span class="gila_bold"> Gila.</span> Pronounced \ģ&emacr;-lə\. Like so much of our modernity, an intentional misplacement. Appropriation disguised as ignorance. A wrong as a reminder. To learn and unlearn.</p>
  					<p><span class="gila_bold"> Gila.</span> Giving gifts to the nomads to preserve the culture of the native tongue. Art activism funded by vagrant minimalism. Bridges built in and out of knowledge. Eternal joy.</p>
  				</div>
  			</div>
  			<div class="col_40 gila_intro_menu" id="intro_menu_background" style="background-image: url('{{site.url}}/images/bw_cactus.JPG');">
  				<ul>
            <li><a href="{{site.url}}/about">About</a></li>
   	        <li><a href="{{site.url}}/future">Future</a></li>
            <li><a href="{{site.url}}/stories" title="stories">Stories</a></li>
            <li><a href="{{site.url}}/events" title="events">Events</a></li>
            <!-- <li><a href="{{site.url}}/legend" title="legend">Legend</a></li> -->
            <li><a href="{{site.url}}/zine" title="zine">Zine</a></li>
            <!-- <li><a href="{{site.url}}/store" title="coming soon" class="disabled_link">Store</a></li> -->
          </ul>
  			</div>
		    </div>
    </div>
</div>
