---
layout: default
# to update this page, put new pdf img slides in and 
# then update the issue tag 
---

<div id="fullpage_latest">
  <div class="section">
    <div class="slide latest_slide" id="latest_one"></div>
    <div class="slide latest_slide" id="latest_two"></div>
    <div class="slide latest_slide" id="latest_three"></div>
    <div class="slide" id="latest_four">
    <div class="bibliography">
      <h1>Articles in this zine</h1>
      <ul>
      {% for post in site.tags.q1_2017 %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} </a></li>
      {% endfor %}
      </ul>
      </div>
    </div>

  </div>
</div>