---
layout: default
---

<div class="dynamic_parent_container">

  <div class="landing_header">
    <h1>Legend</h1>
    <p>I wil just scroll with my full content, category "legend" - to be combined with a map at some point when everything else is ironed out</p>
  </div>

{% for post in site.tags.legend %}
  <article>
    <a title="{{post.title}}" href="{{ site.baseurl }}{{ post.url }}">
      <div>
        <h1 class="post_title">{{ post.title }}</h1>
        <p class="post_subtitle">{{post.subtitle}}</p>
      </div>
    </a>
  </article>
  {% endfor %}
  </div>