---
layout: default
---

<div class="dynamic_parent_container">
  <div class="landing_header">
    <h1>Stories</h1>
    <p>"Ellie, they're absolutely - - they're moving in herds. They do move in herds!" "We were right!" "How did you do it?! How did you do this?!"</p>
  </div>
{% for post in site.tags.story %}
  <article>
    <a title="{{post.title}}" href="{{ site.baseurl }}{{ post.url }}">
      <div>
        <h1 class="post_title">{{ post.title }}</h1>
        <p class="post_subtitle">{{post.subtitle}}</p>
      </div>
    </a>
  </article>
  {% endfor %}
</div>