---
layout: default
---
<div id="fullpage_archive_stories">
{% for post in site.tags.story %}
  <div class="section">
    <div class="flex_parent story_container">
    <div class="col_50 image_container">
      <img src="{{site.baseurl}}/images/{{post.bgimage}}">
    </div>
    <div class="col_50">
      <div class="about_container">
        <div class="landing_details">
          <div>
            <h2>{{ post.title }}</h2>
            <h3>{{post.subtitle}}</h3>
            <p><a title="{{post.title}}" href="{{ site.baseurl }}{{ post.url }}">More</a></p>
          </div>
        </div>
        {% for landing_blurb in post.landing_blurb %}
        <div class="landing_blurb">
          <div>
            <p>{{landing_blurb}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  </div>

  {% endfor %}
</div>
