---
layout: default
---
<div class="zine_main_container">
	  <a href="{{site.url}}/latest" class="no_styles current_zine_link disabled_link">
		  <div class="zine_landing_header">
		    <h1>Read The Latest Zine</h1>
		    <p class="zine_release">Release date TBD</p>
		  </div>
	  </a>
	  <div class="zine_landing">
		  <!-- copy section -->
		  <div class="flex_parent">
			  <div class="col_50 zine_about">
			  	<h3>Why zines?</h3>
			  	<p>
						To accompany the priceless and intangible notion of communal experience, Gila will also offer you something physical, tearable, and disposable. Gathering a selection of our favorite stories and scenes from the weeks and months past, the Gila zine will be a visceral, albeit temporal medium - a reminder that we are here and then we aren’t.
			  	</p>
			  </div>
			  <div class="col_50">
				  <h3>Find it in print at</h3>
				  <ul>
				  	<li>The next Gila event</li>
				  	<li>Wherever toys are sold</li>
				  </ul>
			  </div>
		  </div>
		</div>
	</div>


	<!-- <div class="section">
		<div class="landing_header past_zine_header">
	    	<h1>Previous Issues</h1>
	  	</div>
		<div class="zine_landing normal_scroll">
		  	<div class="flex_parent">
		  		<div class="col_50">
		  		<img class="zine_archive_img" src="#" />
		  			<div class="zine_synopsis">
		  				<h2 class="zine_synopsis_heading">Q2 2017</h2>
		  				<p class="zine_release">Released ##/##/####</p>
		  				<p>
		  				<span class="zine_inside">What's inside</span>
		  				"People of color are not asked about our areas of expertise... We are asked about how white people can do better and feel better about diversity." <a href="#">Rahawa Haile on why</a> hiking the Appalachian Trail was more than just a hike. <a href="#">Johnny Depp's </a>whining and the future of regulated financial advice. The death of the artist and the birth of the creative entrepreneur. "I know designers can’t help themselves but <a href="#">aesthetics</a> are no replacement for ethics." How T.Swift cashed in on victimhood. Mary Karr on menstrual huts. When two names become one. Somebody please send me a weed bouquet for <a href="#">galentine's day</a>.
		  				</p>
		  				<p><a href="#" class="download">Download the PDF</a></p>
		  			</div>
		  		</div>
			  	<div class="col_50">
			  		<img class="zine_archive_img" src="#" />
			  		<div class="zine_synopsis">
			  			<h2 class="zine_synopsis_heading">Q1 2017</h2>
			  			<p class="zine_release">Released ##/##/####</p>
			  			<p>
			  			<span class="zine_inside">What's inside</span>
			  			"People of color are not asked about our areas of expertise... We are asked about how white people can do better and feel better about diversity." <a href="#">Rahawa Haile on why</a> hiking the Appalachian Trail was more than just a hike. <a href="#">Johnny Depp's </a>whining and the future of regulated financial advice. The death of the artist and the birth of the creative entrepreneur. "I know designers can’t help themselves but <a href="#">aesthetics</a> are no replacement for ethics." How T.Swift cashed in on victimhood. Mary Karr on menstrual huts. When two names become one. Somebody please send me a weed bouquet for <a href="#">galentine's day</a>.
			  			</p>
			  			<p><a href="#" class="download">Download the PDF</a></p>
			  		</div>
		  		</div>
		  	</div>
	 	</div><!-- end zine_landing -->
<!-- </div> -->
