---
layout: default
---
<div class="dynamic_parent_container">
  <div class="zine_landing_header">
    <h1>Current Zine</h1>
    <p class="zine_release">Released ##/##/####</p>
  </div>
  <div class="zine_landing">
	  <!-- copy section --> 
	  <div class="flex_parent">
		  <div class="col_50 zine_about">
		  	<h3>Why zines? Why now?</h3>
		  	<p>
		  		"Ellie, they're absolutely - - they're moving in herds. They do move in herds!" "We were right!" "How did you do it?! How did you do this?!"
		  	</p>
		  </div>
		  <div class="col_50">
			  <h3>Find it in print at</h3>
			  <ul>
			  	<li>Any Gila Event</li>
			  	<li>store 2</li>
			  </ul>
		  </div>
	  </div>
	 </div>
	 <div class="landing_header past_zine_header">
	    <h1>Previous Issues</h1>
	  </div>
		<div class="zine_landing normal_scroll">
		  <div class="flex_parent">
		  	<div class="col_50">
		  		<img class="zine_archive_img" src="#" />
		  		<div class="zine_synopsis">
		  			<h2 class="zine_synopsis_heading">Q2 2017</h2>
		  			<p class="zine_release">Released ##/##/####</p>
		  			<p>
		  			<span class="zine_inside">What's inside</span>
		  			"People of color are not asked about our areas of expertise... We are asked about how white people can do better and feel better about diversity." <a href="#">Rahawa Haile on why</a> hiking the Appalachian Trail was more than just a hike. <a href="#">Johnny Depp's </a>whining and the future of regulated financial advice. The death of the artist and the birth of the creative entrepreneur. "I know designers can’t help themselves but <a href="#">aesthetics</a> are no replacement for ethics." How T.Swift cashed in on victimhood. Mary Karr on menstrual huts. When two names become one. Somebody please send me a weed bouquet for <a href="#">galentine's day</a>.
		  			</p>
		  			<p><a href="#" class="download">Download the PDF</a></p>
		  		</div>
		  	</div>
		  	<div class="col_50">
		  		<img class="zine_archive_img" src="#" />
		  		<div class="zine_synopsis">
		  			<h2 class="zine_synopsis_heading">Q1 2017</h2>
		  			<p class="zine_release">Released ##/##/####</p>
		  			<p>
		  			<span class="zine_inside">What's inside</span>
		  			"People of color are not asked about our areas of expertise... We are asked about how white people can do better and feel better about diversity." <a href="#">Rahawa Haile on why</a> hiking the Appalachian Trail was more than just a hike. <a href="#">Johnny Depp's </a>whining and the future of regulated financial advice. The death of the artist and the birth of the creative entrepreneur. "I know designers can’t help themselves but <a href="#">aesthetics</a> are no replacement for ethics." How T.Swift cashed in on victimhood. Mary Karr on menstrual huts. When two names become one. Somebody please send me a weed bouquet for <a href="#">galentine's day</a>.
		  			</p>
		  			<p><a href="#" class="download">Download the PDF</a></p>
		  		</div>
		  	</div>
		  </div>
	 	</div><!-- end zine_landing -->
    
